*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.hibernate.cfg.xml

persistence/src/main/resources/hibernate.cfg.xml
persistence/src/test/resources/hibernate.cfg.xml

webservice/WebContent/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/bin/

.checkstyle
*.properties
